<form class="form-control add-form" (ngSubmit)="onSubmit()">
    <!-- <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="Enter task name"/> 
    </div> -->
    <div class="form-control">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="name" name="name" id="text" placeholder="Add task"/> 
    </div>
    <div class="form-control">
        <label for="designation">Discount</label>
        <input type="text" [(ngModel)]="designation" name="designation" id="designation" placeholder="Add designation"/> 
    </div>
    <div class="form-control">
        <label for="number">Price</label>
        <input type="text" [(ngModel)]="number" name="number" id="number" placeholder="Add Price"/> 
    </div>
    
    <div class="form-control">
        <label for="reminder">Check</label>
        <input type="checkbox" [(ngModel)]= "reminder" name="reminder" id="reminder" placeholder="check"/>
    </div> 
    {{text}}
    
    <input type="submit" value="Save Task" class="btn-block">
</form>
