.emp{
    background-color: rgb(255, 255, 0);
    margin: 5px;;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.emp h3{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
